$class: button;

.#{$class} {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: rgb(245, 245, 245);
  }
}
